# Visual Studio Code settings files
.vscode

# Logs
logs
*.log

# Dependencies
node_modules
yarn.lock

# Environment variables file
.env

# Other
*.tap
coverage
checkstyle-result.xml

dist/
app/**/*.js
app/**/*.map
test/**/*.js
test/**/*.map

