<% include ./partials/header %>
<body>
  <div class="container">
    <h1>Employee Detail</h1>
    <% if(error) {%>
    <div><%= error %></div>
    <%}%>
    <form action="/register" id="createEmployee" method="POST">
      First Name: &emsp;&emsp;&ensp;<input type="text"  name="employee[firstName]" required>
      <br>
      Last Name: &emsp;&emsp;&ensp;<input type="text"  name="employee[lastName]" required>
      <br>
      <input type="text"  value="<%=employeeId + 7%>" name="username" required hidden>
      Password: &emsp;&emsp;&ensp;&ensp;<input type="password"  name="password" required>
      <br>
      <span class="neg-margin">Confirm Password: &ensp;<input type="password"  name="confirm" required></span> 
      <br>
      Employee Type:  &emsp;&emsp;&ensp;<select name="employee[employeeType]" required>
                      <option value="" disabled selected>Not Selected</option>
                      <option value="cashier">Cashier</option>
                      <option value="shiftManager">Shift Manager</option>
                      <option value="generalManager">General Manager</option>
                      </select>

      <button class="main-button">Save</button>
    </form>
    <% if(username) {%>
      <div>
        Employee Created!
        <br>
        Employee ID is: <%= username %>
      </div>
      <%}%>

    

  </div>
</body>
<% include ./partials/footer %>