<% include ./partials/header %>
<body>
  <div class="container">
    <h1>Product Detail</h1>
    <form action="/productDetail" id="productDetail" method="POST">
      lookupCode: <input type="text"  name="product[lookupCode]" >
      <br>
      <br>
      &emsp;&emsp;&ensp;Count: <input type="text" name="product[count]" >
      <button class="main-button">Save</button>
    </form>

    

  </div>
</body>
<% include ./partials/footer %>