<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <form action="/signin" method="POST">
        <input type="number" name="employeeID" placeholder="employeeID" required></input>
        <input type="password" name="password" placeholder="password" required></input>
        <input type="submit" value="Sign In"></input>
    </form>
    
</body>
</html>