<% include ./partials/header %>
<body>
  <div class="container">
    <h1>Sign In</h1>
    <form action="/signIn" id="productDetail" method="POST">
      <input type="text" placeholder="Employee ID" name="username" >
      <br>
      <input type="password"  placeholder="Password" name="password" >
      <button class="main-button">Sign In</button>
    </form> 
  </div>
</body>
<% include ./partials/footer %>